{% extends 'front/ghofrane/editC.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block body %}
    <br><br><br><br>
  
  
    <h1 class="title">Edit Commande</h1>

    {{ include('front/commande/_form.html.twig', {'button_label': 'Update'}) }}
  <br><br>

{% endblock %}

