{% extends 'front/base.html.twig' %}


{% block body %}

<main id="main">

<br> <br> <br><br> <br> <br>

    <center> <h1> Create New Patient Sheet</h1></center>
    {{ include('fiche/_form.html.twig') }}

   
{% endblock %}
